/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media only screen and (min-width: 768px) {
    .sm-a-h {
      height: calc(100vh - 10.5rem);
    }
  }

  @media only screen and (min-width: 768px) {
    .sm-s-h {
      height: calc(100vh - 6rem);
    }
  }

  @media only screen and (min-width: 768px) {
    .sm-t-h {
      height: calc(100vh - 11rem);
    }
  }

  @media only screen and (min-width: 768px) {
    .sm-d-h {
      height: calc(100vh - 5rem);
    }
  }

}