@layer theme, base, components, utilities;

@import 'primereact/resources/themes/tailwind-light/theme.css';

@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

html body {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  position: relative;
  height: 100%;
}